.navbar
{
    list-style-type: none;
    margin: 0;
    padding: 0 2%;
    background-color:dodgerblue;
    overflow:hidden;
}

nav ul {
    font-size: 0;
    margin: 10%;
    padding: 0%;
    text-align: justify;
    padding: 0 20%;
}

nav ul:after {
    content: '';
    display: inline-block;
    width: 100%;
}

.navbar li{
    display: inline-block;
}

.navbar li a{
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    font-weight: bold;
    color:black;
}

.header{
    display: center;
}

textarea{
    margin:0px auto;
}

body{
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(0, 153, 255));
    font-family: 'Roboto Slab', serif;
    font-size: 40 px;
    font-weight: bold;
    color:black;
    float: center; 
}

.title {
    text-align: center;
}

label {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    text-align: center;
}






