{% load static %}
<head>
    <title>No Cyber Bullying</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}" media="screen"/>
</head>
<body>
    <h1>Stop Cyber Bullying</h1>
    <nav>
        <ul class="navbar">
            <li><a href="/home">Homepage</a></li>
            <li><a href="/scanner">Scanner</a></li>
            <li><a href="/educational">Education</a></li>
            <li><a href="about">About Us</a></li>
        </ul>
    </nav>
    <h2 class="center">
        As our world becomes more digitally connected, children around the world have started to connect through cyberspace. 
        With the COVID-19 pandemic, children have begun to rely on online communication to connect with their peers. With 
        more children communicating online everyday it is important that they understand the consequences of cyber Bullying 
        and that when communicating online, misinterpretations of texts and emails can result in accidental cyberbullying. 
        For this reason, we created stopcyberbullying.com to educate students and give them resources to check their messages 
        BEFORE they are sent.
    </h2>    
    <img src="https://static.thenounproject.com/png/3424273-200.png" class="center"></img>
    <h6 class="center">Image By:Martins Ratkus</h6>
    <h2>Our website contains two different tools that help in the fight against cyberbullying. Our first tool allows users to
        check if their messages are potentially harmful or contain any homophobic, racist, sexist, and sexual content. It takes
        a message and alerts the user which harmful words it contains, catching a variety of loopholes such as slight variations 
        in obscene words, the usage of negation to create a negative message, and many more. Highlighting negative keywords allows
        users to fully comprehend the negativity of their language, helping users realize and improve their diction. Our second tool
        allows users to check if a website potentially contains harmful language, using the same screening system as the first tool.
        The user can input a URL and the tool will tell the user a list of harmful and potentially concerning words on the website. 
        This tool is especially useful for parents, allowing them to check what websites their child visits, before visiting them. 
        This allows parents to filter out pages with large amounts of negative content, helping keep their children sheltered and safe.</h2>
</body>
<footer>
    <form method="post" action="mailto:kevinfxie@gmail.com?subject=question">
      <formwriting>
          <br>
        Feel free to contact us if you have any further questions or concerns!
        <br>
        <!--Aligns form-->
          <table class="footertable">
            <tr>
              <td class="bottomform">
                Your Name:
              </td>
              <td>
                <input type="text" name="firstname">
              </td>
              <br>
              <tr>
                  <td class="bottomform">
                    Your Email:
                  </td>
                  <td>
                    <input type="text" name="question">
                  </td>
                </tr>
                <tr>
            <tr>
              <td class="bottomform">
                Your Question:
              </td>
              <td>
                <input type="text" name="question">
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <div>
                  <input type="submit" value="Submit">
                </div>
              </td>
            </tr>
          </table>
        </formwriting>
      </form>
    <disclaimer>
      Clicking "Submit" will contact the creators of this website.
    </disclaimer>
  </form>

  <br>
  <copyrightwriting>
    2020
    <br>
    Hackathon Team
  </copyrightwriting>
</footer>
</html>